/*========================================================================
===============
	COLORS
===============
========================================================================*/

html {

	--color-gray-light: #fafafa;
	--color-gray-medium: #888;
	--color-gray-dark: #575757;
	--color-accent: #a6462b;
	--color-disabled: #dedede;

}

/*========================================================================
==================
	TYPOGRAPHY
==================
========================================================================*/

html {

	color: var(--color-gray-dark);

	--font-primary: 'Montserrat', sans-serif;

	--font-size-ratio: 1.1;
	--font-size-five-up: calc( var(--font-size-four-up) * var(--font-size-ratio) );
	--font-size-four-up: calc( var(--font-size-three-up) * var(--font-size-ratio) );
	--font-size-three-up: calc( var(--font-size-two-up) * var(--font-size-ratio) );
	--font-size-two-up: calc( var(--font-size-one-up) * var(--font-size-ratio) );
	--font-size-one-up: calc( 1rem * var(--font-size-ratio) );
	--font-size-one-down: calc( 1rem / var(--font-size-ratio) );
	--font-size-two-down: calc( var(--font-size-one-down) / var(--font-size-ratio) );
	--font-size-three-down: calc( var(--font-size-two-down) / var(--font-size-ratio) );

	font-family: var(--font-primary), 'Nunito';
	font-size: 14px;
	line-height: 1.5;

}

a {
	color: var(--color-gray-medium);
	letter-spacing: .03em;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: var(--color-accent);
	cursor: pointer;
}

a:active {
	color: var(--color-accent);
	font-weight: 800;
}

a:disabled {
	color: var(--color-disabled);
}

.disabled {
	color: var(--color-disabled);
	cursor: default;
}

.disabled:hover {
	color: var(--color-disabled);
	cursor: default;
}

nav a {
	color: var(--color-gray-medium);
	text-decoration: none;
}

.nav-logo {
	color: var(--color-accent);
	font-size: var(--font-size-five-up);
}

.nav-logo:hover {
	font-weight: 600;
}

.current-link {
	color: var(--color-accent);
	text-decoration: underline;
}

nav {
	text-align: center;
}

h1 {
	color: var(--color-accent);
	font-weight: 800;
}

h2 {
	font-weight: 400;
}

h3 {
	color: var(--color-gray-dark);	
}

h4 {
	color: var(--color-accent);	
	font-size: var(--font-size-one-up);
	font-weight: 800;
}

h5 {
	color: black;
	font-size: var(--font-size-standard);
	font-weight: 800;
	text-transform: uppercase;	
}

h6 {
	color: var(--color-accent);
	font-size: var(--font-size-standard);
	font-style: italic;	
}

b {
	color: black;
	font-weight: 800;
}

em {
	color: var(--color-gray-medium);
}

.hero h1 {
	color: var(--color-gray-medium);
	letter-spacing: .04em;
	text-align: center;
}

.about-page h2 {
	color: var(--color-accent);
	font-size: var(--font-size-five-up);
	font-weight: 400;
}

.about-page p {
	font-size: var(--font-size-two-up);
}

.portfolio-piece .primary-title h1 {
	letter-spacing: .03em;
	text-align: center;
	text-transform: uppercase;
}

.portfolio-piece .primary-title p {
	color: var(--color-gray-medium);
	font-size: var(--font-size-two-up);
	text-align: center;
}

.portfolio-piece h3 {
	letter-spacing: .03em;
	text-transform: uppercase;
}

.main-resume a {
	text-transform: none;
}

.pdf {
	text-decoration: underline;
}

.pdf a {
	font-size: var(--font-size-one-down);
}

.primary-title p {
	font-size: var(--font-size-two-up);
	font-weight: 800;
}

.primary-title a {
	text-decoration: underline;
}

.resume-contact a {
	color: var(--color-accent);
	text-decoration: none;
}

.resume-contact a:hover {
	font-weight: 800;
}

.resume-skills summary:focus {
	color: var(--color-accent);
}

figcaption {
	text-align: center;
}

figcaption a {
	color: var(--color-gray-dark);
	text-decoration: none;
	text-transform: none;
}

.contact-grid a {
	color: var(--color-accent);
	text-transform: none;
}

.contact-grid a:hover {
	color: var(--color-accent);
	font-weight: 800;
}

.contact-grid h3 {
	font-size: var(--font-size-one-down);
	font-weight: 800;
}

input[disabled], select[disabled], textarea[disabled] {
	opacity: .5;
}

input[type="submit"] {
	background-color: var(--color-accent);
	border: none;
	color: white;
	font-size: var(--font-size-standard);
	font-weight: 600;
	letter-spacing: .03em;
	min-width: 10rem;
	padding: .75rem 1rem;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: white;
	color: var(--color-accent);
	border: 1px solid var(--color-accent);
}

input[type="submit"]:active {
	box-shadow: 0 0 2px var(--color-accent);
	cursor: pointer;
}

form label {
	text-align: left;
}

.form-requirement {
	font-size: var(--font-size-one-down);
}

@media ( min-width: 650px ) {

	.primary-title p {
		font-size: var(--font-size-three-up);
	}
}

@media ( min-width: 700px ) {

	.contact-grid {
		text-align: center;
	}
}

@media ( min-width: 745px ) {

	.hero h1 {
		text-align: left;
	}
}

footer a {
	text-decoration: none;
}

/*========================================================================
==================
	NAVIGATION
==================
========================================================================*/

header {
	background-color: var(--color-gray-light);
	margin-bottom: var(--margin-three-up);
	padding: 2rem 2rem;
}

.nav {
	margin: 0 auto;
}

.nav li {
	list-style-type: none;
}

.nav ul {
	display: block;
	padding-left: 0;
}

@media ( min-width: 850px) {

	.nav-logo {
		padding-left: 1rem;
	}

	.nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.nav li {
		display: inline;
		padding: 1rem;
	}
}

/*========================================================================
============
	MAIN
============
========================================================================*/

body {
	margin: 0;
}

html {

--margin-standard-ratio: 2;
	--margin-three-up: calc( var(--margin-two-up) * var(--margin-standard-ratio) );
	--margin-two-up: calc( var(--margin-one-up) * var(--margin-standard-ratio) );
	--margin-one-up: calc( var(--margin-standard) * var(--margin-standard-ratio) );
	--margin-one-down: calc( var(--margin-standard) / var(--margin-standard-ratio) );

	--margin-standard: 1rem;

}

main {
	margin: 0 auto;
	max-width: 60rem;
	padding: 0 3rem;
}

/*========================================================================
============
	HERO
============
========================================================================*/

.hero {
	margin-bottom: var(--margin-three-up);
}

.hero h1, .hero img {
	animation: fade-in 2s ease;
	padding: 1rem 0;
}

.hero img {
	border-radius: 3px;
	max-height: 100%;
	max-width: 100%;
}
@keyframes fade-in {

	0% {
		opacity: 0;
		
	}

	100% {
		opacity: 1;
		
	}

}

@media ( min-width: 745px ) {

	.hero {
		align-items: center;
		display: flex;
	}

	.hero img {
		margin-left: var(--margin-two-up);
		max-height: 50%;
		max-width: 50%;
	}

}

/*========================================================================
=================
	ABOUT PAGE
=================
=======================================================================*/

.about-page .button {
	margin: 0;
}

.about-info {
	margin-bottom: 3rem;
}

/*========================================================================
=============
	BUTTON
=============
========================================================================*/

.button {
	background-color: var(--color-accent);
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-size: var(--font-size-standard);
	font-weight: 600;
	letter-spacing: .03em;
	margin: var(--margin-one-up);
	max-width: 10rem;
	padding: .75rem 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button:hover {
	background-color: white;
	border: solid 1px var(--color-accent);
	font-weight: 800;
	opacity: .8;
}

.button:active {
	opacity: 1;
	box-shadow: 0 0 2px var(--color-accent);
}

/*========================================================================
=============
	RESUME
=============
========================================================================*/

.main-resume h4 {
	border-bottom: solid 1px var(--color-gray-medium);
	margin: var(--margin-two-up) 0 0;
}

.pdf {
	margin: 0;
}

.primary-title  h1 {
	margin-bottom: 0;
	padding-right: 1rem;
}

.resume-skills details {
	border-bottom: 1px solid var(--color-gray-dark);
	padding: .5rem;
}

.resume-skills summary {
	padding: .5rem;
}

.resume-skills summary:focus {
	border-bottom: .5rem;
	outline: none;
}

.resume-contact {
	margin-top: var(--margin-two-up);
}

@media ( min-width: 650px ) {

	.primary-title-name {
	align-items: baseline;
	display: flex;
	}
}

@media ( min-width: 900px ) {

	.main-resume {
		display: grid;
		grid-column-gap: 4rem;
		grid-template-columns: 1fr 1fr;
	}

	.main-resume h3 {
		margin: 0;
	}

	.resume-contact {
		grid-column-start: 2;
		grid-row-start: 1;
		margin-top: 3rem;

	}

	.resume-experience {
		grid-row-start: 2;
		grid-row-end: 4;
	}

	.resume-awards {
		grid-column-start: 1;
		grid-row-start: 4;
	}

	.resume-skills {
		grid-column-start: 2;
		grid-row-start: 3;
		grid-row-end: 5;
	}

}

/*========================================================================
================
	PORTFOLIO
================
========================================================================*/

.portfolio-piece .primary-title h1 {
	padding-right: 0;
}

.portfolio-piece .primary-title p {
	margin: 0 0 5rem;
}

.portfolio-piece h3 {
	margin: var(--margin-two-up) 0 .5rem;
}

.portfolio-piece h4 {
	margin: var(--margin-two-up) 0 .5rem;
}

.portfolio-piece .secondary-title h4 {
	margin-top: .5rem;
}

.portfolio-piece h4 {
	margin: var(--margin-two-up) 0 .5rem;
}

.portfolio-grid img {
	border-radius: 3px;
	max-width: 100%;
}

figure {
	margin: var(--margin-two-up) 0;
}

@media ( min-width: 600px) {

	figure {
		margin: 0;
	}

	.portfolio-grid {
		display: grid;
		grid-column-gap: .5rem;
		grid-row-gap: 2rem;
		grid-template-columns: 1fr 1fr;
	}
}

@media ( min-width: 800px) {
	.portfolio-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*========================================================================
======================
	PORTFOLIO PIECE
======================
========================================================================*/

.portfolio-piece img {
	display: block;
	margin: 0 auto;
	max-height: auto;
	max-width: 60%;
}

.portfolio-artifact2, .portfolio-artifact3 {
	display: flex;
	flex-direction: column;

}

.portfolio-artifact2 img, .portfolio-artifact3 img {
	margin: var(--margin-standard);
	max-height: auto;
	max-width: 100%;
}

.ecobag-results {
		border: .5px solid var(--color-gray-medium);
		box-shadow: 1px 1px 5px rgba(0,0,0,.2);
		letter-spacing: .2em;
		padding: .5rem;
		text-align: center;
		text-transform: uppercase;
}

@media ( min-width: 650px ) {

	.portfolio-artifact2, .portfolio-artifact3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	}

	.portfolio-artifact2 img {
		max-width: 50%;
		}

	.portfolio-artifact3 img {
		max-width: 33%;
		}

	}
}

/*========================================================================
===============
	CONTACT
===============
========================================================================*/

.contact-grid {
	display: inline;
	padding: 0 3rem;
}

.contact-gridcard {
	margin-bottom: var(--margin-standard);
}

input, select, textarea {
	border: 1px solid var(--color-gray-medium);
	border-radius: .2rem;
	box-sizing: border-box;
	margin-bottom: var(--margin-one-up);
	min-height: 3rem;
	min-width: 100%;
	padding: .5rem;
	-webkit-appearance: none;
}

textarea {
	min-height: 10rem;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 2px 2px 4px var(--color-gray-light);
	outline: none;
}

label {
	display: block;
	margin-bottom: var(--margin-one-down);
}

.form-requirement {
	margin-top: var(--margin-one-up);
}

@media ( min-width: 700px ) {

	.contact-grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 3rem 0;
	}

	.field-pair {
		display : flex;
		justify-content: space-between;
	}

	.firstname, .lastname {
		min-width: 49%;
	}
}

/*========================================================================
==============
	FOOTER
==============
========================================================================*/

footer {
	background-color: #FAFAFA;
	padding: 1.5rem 3rem;
	margin-top: var(--margin-three-up);
	text-align: center;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer li {
	display: inline;
	margin: var(--margin-one-down);
}

@media ( min-width: 700px ) {

	footer {
		text-align: left;
	}

	footer nav {
		text-align: left;
	}
	
	footer ul {
		list-style-type: none;
	}

	footer li {
		margin: 0 var(--margin-standard) 0 0;

	}

}